$color-white: #ffffff;
$color-black: #000000;
$color-title: #333333;
$color-description: #707070;
$color-primary: #219CEB;
$color-secondary: #F26322;
$color-thrid: #9B5C8F;
$color-white-fake: #FAFBFD;
$color-phone-text: #0252B4;
$color-border-form:#ECF2FF;
$color-border-form-input:#CCCCCC;
$color-border-line:#EEEEEE;
$color-button-edit:#F8F8F8;
$color-border-sidebar-product:#F5F5F5;
$color-red:#E01D19;
$color-border_add_to_cart:#E3E3E3;
$color-icon_share:#BCBCBC;
$color-icon_plus_minus:#A7A7A7;